<ul *ngIf="appStoreService.todos.length; else notodos">
  <li
    *ngFor="let todo of appStoreService.todos | todoFilter:appStoreService.selectedCategory:appStoreService.completedCategory">
    <span [class.todo-completed]="checkIfCompleted(todo)">
    {{todo.title}}
    </span>
    <button (click)="appStoreService.delToDo(todo.id)" >Удалить</button>
    <button (click)="appStoreService.completeTodo(todo.id)" [disabled]="checkIfCompleted(todo)">Выполнено</button>
  </li>
</ul>
<ng-template #notodos>
  <div>Еще нет ни одной записи</div>
</ng-template>
